.contentStyle {
  text-align: center;
  min-height: calc(100vh - 3.75rem);
  color: #fff;
  background: linear-gradient(to bottom, #ffffff, #e0f2f7, #add8e6);
  backdrop-filter: blur(5px);
  position: relative;
  margin-top: 1.5rem;
}

.contentTitle {
  color: #1677ff !important;
  text-transform: uppercase;
  margin: 0 !important;
  font-size: 3.438rem !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.125rem;
  font-family: "Montserrat", sans-serif;
}

.contentText {
  font-size: 1rem;
  color: #000;
  width: 37.5rem;
  margin: 0 auto;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.contentFlex {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
